div{
    /* border: 2px solid black; */
    box-shadow: 2px 0 4px 1px green;
    text-align: left;
    width: 300px;
    padding: 25px;
    font-size: 25px;
    margin-left: 40px;
}
 h2:hover{
    color:red;
    /* font-family:cursive; */
}
.cc{
    filter: sepia(100%); 
    /* filter: grayscale(100%); */
    opacity: 0.75;
    
}
.cc:hover{
    filter: grayscale(100%);
}

div:hover{
    padding: 26px;
    box-shadow: 2px 0 4px 1px red;
}
button{
    background-color: brown;
    border: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 1px green;
    font-size: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}
button:hover{
    padding: 5px;
    box-shadow: 2px 0 4px 1px orange;
}


.paraevent{
    margin-top: 20px;
    text-align: center;
    border: 2px solid black;
    font-size: 20px;
}
#img1{
    backdrop-filter:blur(15px);
}

#text-change{
    font-size: 40px;
    text-align: center;
}

#aaa{
    font-size:40px;
    text-align: center;
}


